<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jijia.operational.mapper.OpFinancialStatementMapper">

    <resultMap type="OpFinancialStatement" id="OpFinancialStatementResult">
        <result property="financialStatementId"    column="financial_statement_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="reportUnit"    column="report_unit"    />
        <result property="projectMsg"    column="project_msg"    />
        <result property="amount"    column="amount"    />
        <result property="receivableAmount"    column="receivable_amount"    />
        <result property="receivableTime"    column="receivable_time"    />
        <result property="invoiceNumber"    column="invoice_number"    />
        <result property="invoiceTime"    column="invoice_time"    />
        <result property="rate"    column="rate"    />
        <result property="invoiceType"    column="invoice_type"    />
        <result property="invoiceAmount"    column="invoice_amount"    />
        <result property="arrivalTime"    column="arrival_time"    />
        <result property="receivableNumber"    column="receivable_number"    />
        <result property="unpaidAmount"    column="unpaid_amount"    />
        <result property="payType"    column="pay_type"    />
        <result property="reimbursementRate"    column="reimbursement_rate"    />
        <result property="isReal"    column="is_real"    />
        <result property="publisher"    column="publisher"    />
        <result property="businessManager"    column="business_manager"    />
        <result property="remark"    column="remark"    />
        <result property="creditedAmount"    column="credited_amount"    />
        <result property="kickback"    column="kickback"    />
        <result property="taxesCollected"    column="taxes_collected"    />
        <result property="realAmount"    column="real_amount"    />
    </resultMap>

    <resultMap type="OpFinancialStatementVo" id="OpFinancialStatementVoResult">
        <result property="financialStatementId"    column="financial_statement_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="reportUnit"    column="report_unit"    />
        <result property="projectMsg"    column="project_msg"    />
        <result property="amount"    column="amount"    />
        <result property="receivableAmount"    column="receivable_amount"    />
        <result property="receivableTime"    column="receivable_time"    />
        <result property="invoiceNumber"    column="invoice_number"    />
        <result property="invoiceTime"    column="invoice_time"    />
        <result property="rate"    column="rate"    />
        <result property="invoiceType"    column="invoice_type"    />
        <result property="invoiceAmount"    column="invoice_amount"    />
        <result property="arrivalTime"    column="arrival_time"    />
        <result property="receivableNumber"    column="receivable_number"    />
        <result property="unpaidAmount"    column="unpaid_amount"    />
        <result property="payType"    column="pay_type"    />
        <result property="reimbursementRate"    column="reimbursement_rate"    />
        <result property="isReal"    column="is_real"    />
        <result property="publisher"    column="publisher"    />
        <result property="businessManager"    column="business_manager"    />
        <result property="remark"    column="remark"    />
        <result property="creditedAmount"    column="credited_amount"    />
        <result property="kickback"    column="kickback"    />
        <result property="taxesCollected"    column="taxes_collected"    />
        <result property="realAmount"    column="real_amount"    />
    </resultMap>

    <sql id="selectOpFinancialStatementVo">
        select financial_statement_id, create_by, create_time, update_time, order_number, report_unit, project_msg, amount, receivable_amount, receivable_time, invoice_number, invoice_time, rate, invoice_type, invoice_amount, arrival_time, receivable_number, unpaid_amount, pay_type, reimbursement_rate, is_real, publisher, business_manager, remark, credited_amount, kickback, taxes_collected, real_amount from op_financial_statement
    </sql>

    <select id="selectOpFinancialStatementList" parameterType="OpFinancialStatementInfo" resultMap="OpFinancialStatementVoResult">
        <include refid="selectOpFinancialStatementVo"/>
        <where>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number like concat('%', #{orderNumber}, '%')</if>
            <if test="reportUnit != null  and reportUnit != ''"> and report_unit like concat('%', #{reportUnit}, '%')</if>
            <if test="projectMsg != null  and projectMsg != ''"> and project_msg like concat('%', #{projectMsg}, '%')</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="receivableAmount != null "> and receivable_amount = #{receivableAmount}</if>
            <if test="params.beginReceivableTime != null and params.beginReceivableTime != '' and params.endReceivableTime != null and params.endReceivableTime != ''"> and receivable_time between #{params.beginReceivableTime} and #{params.endReceivableTime}</if>
            <if test="invoiceNumber != null  and invoiceNumber != ''"> and invoice_number like concat('%', #{invoiceNumber}, '%')</if>
            <if test="invoiceTime != null  and invoiceTime != ''"> and invoice_time like concat('%', #{invoiceTime}, '%')</if>
            <if test="rate != null  and rate != ''"> and rate like concat('%', #{rate}, '%')</if>
            <if test="invoiceType != null  and invoiceType != ''"> and invoice_type like concat('%', #{invoiceType}, '%')</if>
            <if test="invoiceAmount != null "> and invoice_amount = #{invoiceAmount}</if>
            <if test="arrivalTime != null  and arrivalTime != ''"> and arrival_time like concat('%', #{arrivalTime}, '%')</if>
            <if test="receivableNumber != null "> and receivable_number = #{receivableNumber}</if>
            <if test="unpaidAmount != null "> and unpaid_amount = #{unpaidAmount}</if>
            <if test="payType != null  and payType != ''"> and pay_type like concat('%', #{payType}, '%')</if>
            <if test="reimbursementRate != null  and reimbursementRate != ''"> and reimbursement_rate like concat('%', #{reimbursementRate}, '%')</if>
            <if test="isReal != null "> and is_real = #{isReal}</if>
            <if test="publisher != null  and publisher != ''"> and publisher like concat('%', #{publisher}, '%')</if>
            <if test="businessManager != null  and businessManager != ''"> and business_manager like concat('%', #{businessManager}, '%')</if>
            <if test="remark != null  and remark != ''"> and remark like concat('%', #{remark}, '%')</if>
            <if test="creditedAmount != null "> and credited_amount = #{creditedAmount}</if>
            <if test="kickback != null "> and kickback = #{kickback}</if>
            <if test="taxesCollected != null "> and taxes_collected = #{taxesCollected}</if>
            <if test="realAmount != null "> and real_amount = #{realAmount}</if>
            <if test="financialStatementIds != null and financialStatementIds.size() > 0 ">
                and financial_statement_id in
                <foreach collection="financialStatementIds" item="value" separator="," open="(" close=")">
                    #{value}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectOpFinancialStatementByFinancialStatementId" parameterType="Long" resultMap="OpFinancialStatementVoResult">
        <include refid="selectOpFinancialStatementVo"/>
        where financial_statement_id = #{financialStatementId}
    </select>

    <insert id="insertOpFinancialStatement" parameterType="OpFinancialStatementVo" useGeneratedKeys="true" keyProperty="financialStatementId">
        insert into op_financial_statement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="orderNumber != null">order_number,</if>
            <if test="reportUnit != null">report_unit,</if>
            <if test="projectMsg != null">project_msg,</if>
            <if test="amount != null">amount,</if>
            <if test="receivableAmount != null">receivable_amount,</if>
            <if test="receivableTime != null">receivable_time,</if>
            <if test="invoiceNumber != null">invoice_number,</if>
            <if test="invoiceTime != null">invoice_time,</if>
            <if test="rate != null">rate,</if>
            <if test="invoiceType != null">invoice_type,</if>
            <if test="invoiceAmount != null">invoice_amount,</if>
            <if test="arrivalTime != null">arrival_time,</if>
            <if test="receivableNumber != null">receivable_number,</if>
            <if test="unpaidAmount != null">unpaid_amount,</if>
            <if test="payType != null">pay_type,</if>
            <if test="reimbursementRate != null">reimbursement_rate,</if>
            <if test="isReal != null">is_real,</if>
            <if test="publisher != null">publisher,</if>
            <if test="businessManager != null">business_manager,</if>
            <if test="remark != null">remark,</if>
            <if test="creditedAmount != null">credited_amount,</if>
            <if test="kickback != null">kickback,</if>
            <if test="taxesCollected != null">taxes_collected,</if>
            <if test="realAmount != null">real_amount,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="orderNumber != null">#{orderNumber},</if>
            <if test="reportUnit != null">#{reportUnit},</if>
            <if test="projectMsg != null">#{projectMsg},</if>
            <if test="amount != null">#{amount},</if>
            <if test="receivableAmount != null">#{receivableAmount},</if>
            <if test="receivableTime != null">#{receivableTime},</if>
            <if test="invoiceNumber != null">#{invoiceNumber},</if>
            <if test="invoiceTime != null">#{invoiceTime},</if>
            <if test="rate != null">#{rate},</if>
            <if test="invoiceType != null">#{invoiceType},</if>
            <if test="invoiceAmount != null">#{invoiceAmount},</if>
            <if test="arrivalTime != null">#{arrivalTime},</if>
            <if test="receivableNumber != null">#{receivableNumber},</if>
            <if test="unpaidAmount != null">#{unpaidAmount},</if>
            <if test="payType != null">#{payType},</if>
            <if test="reimbursementRate != null">#{reimbursementRate},</if>
            <if test="isReal != null">#{isReal},</if>
            <if test="publisher != null">#{publisher},</if>
            <if test="businessManager != null">#{businessManager},</if>
            <if test="remark != null">#{remark},</if>
            <if test="creditedAmount != null">#{creditedAmount},</if>
            <if test="kickback != null">#{kickback},</if>
            <if test="taxesCollected != null">#{taxesCollected},</if>
            <if test="realAmount != null">#{realAmount},</if>
        </trim>
    </insert>

    <update id="updateOpFinancialStatement" parameterType="OpFinancialStatementVo">
        update op_financial_statement
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
            <if test="reportUnit != null">report_unit = #{reportUnit},</if>
            <if test="projectMsg != null">project_msg = #{projectMsg},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="receivableAmount != null">receivable_amount = #{receivableAmount},</if>
            <if test="receivableTime != null">receivable_time = #{receivableTime},</if>
            <if test="invoiceNumber != null">invoice_number = #{invoiceNumber},</if>
            <if test="invoiceTime != null">invoice_time = #{invoiceTime},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="invoiceType != null">invoice_type = #{invoiceType},</if>
            <if test="invoiceAmount != null">invoice_amount = #{invoiceAmount},</if>
            <if test="arrivalTime != null">arrival_time = #{arrivalTime},</if>
            <if test="receivableNumber != null">receivable_number = #{receivableNumber},</if>
            <if test="unpaidAmount != null">unpaid_amount = #{unpaidAmount},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="reimbursementRate != null">reimbursement_rate = #{reimbursementRate},</if>
            <if test="isReal != null">is_real = #{isReal},</if>
            <if test="publisher != null">publisher = #{publisher},</if>
            <if test="businessManager != null">business_manager = #{businessManager},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="creditedAmount != null">credited_amount = #{creditedAmount},</if>
            <if test="kickback != null">kickback = #{kickback},</if>
            <if test="taxesCollected != null">taxes_collected = #{taxesCollected},</if>
            <if test="realAmount != null">real_amount = #{realAmount},</if>
        </trim>
        where financial_statement_id = #{financialStatementId}
    </update>

    <delete id="deleteOpFinancialStatementByFinancialStatementId" parameterType="Long">
        delete from op_financial_statement where financial_statement_id = #{financialStatementId}
    </delete>

    <delete id="deleteOpFinancialStatementByFinancialStatementIds" parameterType="String">
        delete from op_financial_statement where financial_statement_id in
        <foreach item="financialStatementId" collection="array" open="(" separator="," close=")">
            #{financialStatementId}
        </foreach>
    </delete>
</mapper>
